@media only screen and (min-width: $size__mobile) {
    .content-area {
        float: left;
        margin: 0 (-$size__site-sidebar) 0 0;
        width: $size__site-main;
    }

    .site-main {
        margin: 0 $size__site-sidebar 0 0;

    }

    .site-content .widget-area {
        float: right;
        width: $size__site-sidebar;
    }

}

@media only screen and (max-width: 1320px) { /*1280px+10px+10px*/
    .content-area {
        float: left;
        margin: 0 (-$size__site-sidebar) 0 0;
        width: $size__site-main;
    }

    .site-main {
        margin: 0 $size__site-sidebar 0 10px;
    }

    .site-content .widget-area {
        float: right;
        width: $size__site-sidebar;
        margin-right: 10px;
    }

}

@media only screen and (max-width: $size__mobile) {
    .content-area {
        float: inherit;
        margin: auto;
        width: auto;
    }

    .site-main {
        
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;

        margin: 0px 10px 0px 10px;
    }

    .site-content .widget-area {
        float: inherit;
        margin: 10px auto 0px auto;
                
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        -webkit-transition: 0.25s;
        transition: 0.25s;
        
        padding: 10px;
        
        //width: auto;
        
        //width: 97%;
        width: 100%;
    }
           
}

@media only screen and (max-width: 600px) {
    .page-content, .entry-content, .entry-summary {
        padding: 0px 15px 15px;
    }
}


.content-area-full-width {
    margin: 0;
    
    .site-main {
        margin: 0;
    }
    
    width: 100%;
}

// Archives header block TODO: google calendar style custom img, per month
.page-header {
    background-color: $color__complementary;
    color: white;
    padding: 5px 15px 15px 15px;
}

.thirds {
    width: $size__site-sidebar;
}

.site-footer-wrapper {
    background-color: $color__background-footer;// rgba(0, 0, 0, 0.75);
    min-height: 120px;
    
        
    //hack to fill footer to very bottom
    box-shadow: 0px 500px 0px 500px rgba(0, 0, 0, 0.75);

}

.site-footer {
    width: $size__site-main;
    max-width: $size__maxwidth;

    color: white;
    
    margin: 0 auto 0 auto;
    font-size: 0.95em;
    padding: 50px 0;
    
    position: relative;

    a {
        color: #ff6d6d;
        text-decoration: none;
        
        &:hover {
            color: $color__complementary;
        }
    }
    
    & .widget {
        background-color: rgba(234, 234, 234, 0.11);
        border: 1px solid rgba(0, 0, 0, 0.46);
        margin: 0 10px 10px 0;
    }
    
    & .site-info {
        float: right;
        margin-bottom: 50px;
        right: 0;
    }
}
    
@media only screen and (max-width: $size__mobile) {
 .site-footer {
    
     margin: 0px 20px 0px 20px;

    & .widget {
        background-color: rgba(255,255,255,0.07);
        border: 1px solid rgba(0, 0, 0, 0.46);
        margin: 20px 0px 10px 0px;
    }
    
    .thirds {
        width: 100%;
    }
     
    & .site-info {
        padding-top: 50px;
        float: none;
        text-align: center;
    }
 }
}
.arrow-down {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 30px solid #FFF;
    position: absolute;
    top: -1px;
    right: 50%;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
}

//.hfeed {
//    margin: 0 auto;  
//}

.site-branding {
    @media only screen and (min-width: $size__mobile) {
        float: left;
    }
    
    h1 {
        margin: auto 0;
    }
}

.site-navigation {
    float: right;
}

.main-navigation {
    clear: none;
    
        
    & .menu-toggle {
        margin: 0px auto 0px auto;   
    }

}

//.site-branding {
//    clear: both;
//}
//
//.site-title {
//    float: left;
//}
//
//.site-description {
//    float: right;
//}

.site-content, .site-header {
    max-width: $size__maxwidth;
    margin: 0 auto;
}
//header
.site-header {
    padding: 10px;
    padding-bottom: 20px;
     
    h1 a {
        font-family: $font__header;
        font-size: 2.0em;
        font-weight: 300;
        text-decoration: none;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.32);
        color: white;
    }
    
    h1 a:hover {
        color: $color__complementary;
    }
    
    h2 {
        font-size: 1em;
        font-weight: 400;
        color: $color__primary;
    }
}

// use cover for full-sized background image

/*.custom-background {
    background-size: cover;
}
*/

.error-404 .page-content {
    padding-top: 50px;
    padding-bottom: 35%;
}