@font-face {
    font-family: 'Sansation Bold';
    src: url('fonts/sansation-bold-webfont.eot');
    src: url('fonts/sansation-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansation-bold-webfont.woff2') format('woff2'),
         url('fonts/sansation-bold-webfont.woff') format('woff'),
         url('fonts/sansation-bold-webfont.ttf') format('truetype'),
         url('fonts/sansation-bold-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Sansation;
    src: url('fonts/sansation-regular-webfont.eot');
    src: url('fonts/sansation-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sansation-regular-webfont.woff2') format('woff2'),
         url('fonts/sansation-regular-webfont.woff') format('woff'),
         url('fonts/sansation-regular-webfont.ttf') format('truetype'),
         url('fonts/sansation-regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);
/*@import url(//fonts.googleapis.com/css?family=Oswald:300);*/

$font__header: "Open Sans", sans-serif;
$font__menu: "Open Sans", sans-serif;

$font__main: "Open Sans", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;
