@media only screen and (min-width: $size__mobile) {
    .main-navigation {
        float: right;

        clear: both;
        display: block;

        li {
            float: left;
            max-width: inherit;
        }
    }
}

blockquote, q {
    margin-left: 0px;
}

.main-navigation {
    // border-top: 4px solid rgba(255, 255, 255, 0.2);
    // border-bottom: 4px solid rgba(255, 255, 255, 0.2);
    font-family: $font__main;
    font-weight: 400;
    padding-left: 8px;
    // padding-right: 8px;
    // background-color: rgba(44, 47, 50, 0.16);
    margin-top: 30px;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

        /* menus */
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.2em;
            margin-top: 20px;
            background-color: darken($color__primary, 20%);
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
                color: white;
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}

    // list item
	li {
		position: relative;
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 1.4em;

        max-width: 300px;

        -webkit-transition: background 0.1s ease;
        -moz-transition: background 0.1s ease;
        -ms-transition: background 0.1s ease;
        -o-transition: background 0.1s ease;
        transition: background 0.1s ease;

        &:hover {
            @include background-opacity($color__complementary, 0.8);
            // background-color: rgba(75, 88, 104, 0.8);

            > a {
                color: white;
            }
        }
	}
	a {
		display: block;
		text-decoration: none;
        padding: 5px 15px 5px 15px;

        color: white;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
        text-decoration: underline;
	}
}

/*  Very tiny menu - hidden */
.menu-toggle {
	display: none;
}

/* Very tiny menu - displayed */
@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

/* Mobile menu */
@media screen and (max-width: $size__mobile) {

    .main-navigation li {
        max-width: inherit;
    }
}

@mixin button-style {
    background-color: $color__complementary;
    border: 1px solid #e5e5e5;
    // border-radius: 2px;
    font-size: 1.5em;
    padding: 5px;

    & :hover {
        text-decoration: none;
    }

    a {
        color: white;
    }
}

@mixin flat-button-style {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #34495e;
    border: 0;
    border-bottom: 2px solid #263849;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #263849;
    box-shadow: inset 0 -2px #263849;

    & :active {
      top: 1px;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    & :hover {
      border-bottom: 2px solid #4f708f;
    }

    a {
      color: white;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
    background-color: #263849;
	}

	& .nav-previous {
    @include flat-button-style;
		float: left;
		width: 50%;

        & :before {
            padding-right: 10px;
            content:'\21d0';
            color: white;
        }

	}

	& .nav-next {
    @include flat-button-style;
		float: right;
    // text-align: right;
		width: 50%;
        & :after {
            padding-left: 10px;
            content:'\21d2';
            color: white;
        }
	}


	// & .nav-next:hover, .nav-previous:hover {
  //       border: 1px solid white;
  //       background-color: rgba(255,255,255,0.95);
  //   }


}

.menu-toggle {
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}
