.sticky{
	display: block;

    // .entry-header, .entry-header-textonly {
    //     background-color: $color__complementary;
    // }
}

.hentry, .page-header, .page-content {
	// margin: 0 0 1.5em;
    background-color: white;
    //overflow: hidden; //IE: casues left padding line in header boxes
// OLD:    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}

.hentry, .page-header, .page-content, .widget, .comments-area {
    -ms-word-wrap: break-word;
    word-wrap: break-word;

}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-header, .entry-header-textonly {

    word-break: keep-all;

    min-height: 240px;
    background-position: center center;
    background-color: $color__primary;
    position: relative;
    margin-bottom: 20px;


    h1 > a {
        color: white;
        text-decoration: none;
				font-weight: lighter;

        &:hover {
            text-decoration: underline;
        }
    }
}

.entry-header-textonly {

    /*word-break: keep-all;*/

    -ms-word-wrap: break-word;
    word-wrap: break-word;

}

.page-title {
	font-weight: lighter;
}


.entry-title {
    position: absolute; bottom: 0; left: 0;
    color: white;
    display: inline-block;
    padding: 10px 25px 25px 60px;
}

.entry-title-textonly {
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 60px;
}

.entry-footer {
    font-family: $font__main;
    font-size: 1em;
    background-color: $color__complementary;
    color: white;

    text-align: right;
    right: 0px;
    display: inline-block;
    margin: 5px 0px 0px 0px;
    //float: right;

    font-style: italic;

    a {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .comments-link, .tags-links, .edit-link {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.page-content,
.entry-content,
.entry-summary {
		margin: 1.5em 0 0;
    margin-top: 0;
    padding: 20px 10px 20px 50px;

		h2 {
			margin: 0;
			
		}

}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
